.checkoutProduct {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    text-align: left;
}

.checkoutProduct__image {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 700;
    width: 250px;
}

.checkoutProduct__info>button {
    background: #f0c14b;
    border: solid;
    margin-top: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__rating {
    display: flex;
}

@media screen and (max-width: 789px) {
    .checkoutProduct__title {
        font-size: 1.4vh;
        font-weight: 500;
        width: 130px;
    }

    .checkoutProduct__image {
        height: 100px;
        width: 50px;
        object-fit: contain;
    }

    .checkoutProduct__info>button {
        background: #f0c14b;
        border: solid;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
        font-size: 1.2vh;

    }

    .checkoutProduct {
        display: flex;
        flex-direction: row;
        margin: 5px;
        align-items: center;
        text-align: left;
    }


}